name: Deploy to shinyapps.io

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Install dependencies
        run: |
          Rscript -e 'install.packages(c("rsconnect", "shiny", "DT", "bslib"))'

      - name: Authorize and Deploy
        env:
          NAME: ${{ secrets.SHINYAPPS_NAME }}
          TOKEN: ${{ secrets.SHINYAPPS_TOKEN }}
          SECRET: ${{ secrets.SHINYAPPS_SECRET }}
        run: |
          Rscript -e "rsconnect::setAccountInfo(name=Sys.getenv('NAME'), token=Sys.getenv('TOKEN'), secret=Sys.getenv('SECRET'))"
          Rscript -e "rsconnect::deployApp(appFiles = setdiff(list.files(), 'requirements'), appName='genomics-invoicing-app', appPrimaryDoc = 'app.R')"
